	<section>
		<div class="sidebar">
			<ul>
				<a href="#"><li class="sidebar-active"><img src="/images/state.png"> Образовательные организации</li></a>
				<a href="#"><li><img src="/images/student.png"> Обучающиеся</li></a>
				<a href="#"><li><img src="/images/employee.png"> Сотрудники</li></a>
			</ul>
		</div>
		<div class="container">
			<div class="select-wrap">
				<select>
					<option value="" disabled selected>--Select Area Filter--</option>
		  			<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
					<option value="6">Option 6</option>
					<option value="7">Option 7</option>
					<option value="8">Option 8</option>
				</select>
				<select>
					<option value="" disabled selected>--Select Time Period Filter--</option>
		  			<option value="1">Option 1</option>
					<option value="2">Option 2</option>
					<option value="3">Option 3</option>
					<option value="4">Option 4</option>
					<option value="5">Option 5</option>
					<option value="6">Option 6</option>
					<option value="7">Option 7</option>
					<option value="8">Option 8</option>
				</select>
			</div>
			<div class="card">
				<h3>Number of Institutions in NPO - Area 1,2,3</h3>
				Years: 2018-2019, 2019-2020, 2020-2021 | Unit: Number
				<div id="histogram-1"></div>
			</div>
			<div class="card">
				<h3>Number of Institutions in NPO - Area 1,2,3</h3>
				Years: 2018-2019, 2019-2020, 2020-2021 | Unit: Number
				<div id="histogram-2"></div>
			</div>
			<div class="card">
				<h3>Number of Institutions in NPO - Area 1,2,3</h3>
				Years: 2018-2019, 2019-2020, 2020-2021 | Unit: Number
				<div id="histogram-3"></div>
			</div>
		</div>

	</section>
	<script src="https://www.google.com/jsapi"></script>
	<script src="/javascripts/main.js"></script>