<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/stylesheets/style.css">
	<link rel="stylesheet" href="/stylesheets/style-burger.css">
	<title>{{title}}</title>
</head>
<body>
  <header>
		<nav role="navigation" id="nav-burger">

			<img src="/images/Emblem_of_Kyrgyzstan.webp" alt="Герб">Дошкольное образование
		  
		  <div id="menuToggle">
		    <input type="checkbox" />
		    <span></span>
		    <span></span>
		    <span></span>
		    <ul id="menu">
		      	<a href="#"><li>Школьное <br> образование</li></a>
				<a href="#"><li>Начальное <br> профессиональное</li></a>
				<a href="#"><li>Среднее <br> профессиональное</li></a>
				<a href="#"><li>Высшее <br> профессиональное</li></a>
		    </ul>
		  </div>
		</nav>
		<h2>
			Ключевые показатели деятельности образовательных организаций
		</h2>
		<nav id="nav">			
			<a href="#">
				<div class="nav-logo">
					<img src="/images/Emblem_of_Kyrgyzstan.webp" alt="Герб">
					Дошкольное образование
				</div>
			</a>
				
			
			<div class="nav">
				<ul>
					<a href="#"><li>Школьное <br> образование</li></a>
					<a href="#"><li class="nav-active">Начальное <br> професиональное</li></a>
					<a href="#"><li>Среднее <br> професиональное</li></a>
					<a href="#"><li>Высшее <br> професиональное</li></a>
				</ul>
			</div>
		</nav>
	</header>
    {{{body}}}
  </body>
</html>
