       <div id="programmatic_dashboard_div" style="border: 1px solid #ccc">
         <div class="card">
           <div id="programmatic_control_div" style="padding-bottom: 2em; min-width: 250px"></div>
           <div id="programmatic_chart_div"></div>
         </div>           
       </div>
       <script src="/javascripts/test.js"></script>